<div class="p-4">
    <p class="my-4 fs-3 text-warning">News Today</p>
    <div *ngIf="loadingBlog" class="py-4">
        <p class="text-white">Loading blogs...</p>
    </div>
    <div *ngIf="!loadingBlog && blogsList.length === 0" class="py-5">
        <p class="text-white">No blogs found.</p>
    </div>
    <div *ngIf="!loadingBlog && blogsList.length !== 0" class="row align-items-start justify-content-start p-0 m-0">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex my-2" *ngFor="let blogData of blogsList">
            <app-blogs-cards [blogData]="blogData"></app-blogs-cards>
        </div>
    </div>
</div>