<div class="row align-items-start justify-content-center p-0 m-0">
    <div class="col-12 col-lg-8 col-xxl-9 p-4">
        <p class="fs-3 text-warning">{{ productData?.title }}</p>
        <div class="row align-items-start justify-content-start p-0 m-0">
            <div class="col-12 col-md-8 col-lg-6 col-xl-4">
                <img class="bg-white img-fluid rounded object-fit-cover" [src]="productData?.images![0]" />
            </div>
        </div>
        <div class="p-2"></div>
        <p class="my-2 fs-4 text-white">PRODUCT DESCRIPTION</p>
        <p class="my-2 text-white">{{ productData?.description }}</p>
        <p class="my-2 fs-4 text-white">PRICE</p>
        <p class="my-2 text-white">PHP {{ productData?.price }}</p>

        <button class="d-block btn btn-warning my-4 px-4 fw-bold text-white"
            (click)="addToCart(productData)">
            <i class="fa-solid fa-cart-shopping"></i>
        </button>
    </div>
    <div class="col-12 col-lg-4 col-xxl-3 p-4">
        <p class="fs-3 text-warning">News Today</p>

        <!-- Loading -->
        <div *ngIf="loadingBlog | async" class="py-4">
            <p class="text-white">Loading blogs...</p>
        </div>

        <!-- No blogs found -->
        <ng-container *ngIf="!(loadingBlog | async)">
            <ng-container *ngIf="(blogsList | async) as blogsList">
                <div *ngIf="blogsList.length === 0" class="py-5">
                    <p class="text-white">No blogs found.</p>
                </div>

                <!-- Show blogs -->
                <div *ngIf="blogsList.length !== 0">
                    <div class="fade-from-left w-100 bg-white my-4" *ngFor="let blogData of blogsList">
                        <app-blogs-cards [blogData]="blogData"></app-blogs-cards>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <!-- More News Link -->
        <a class="d-block p-2 my-4 mr-auto fs-6 fw-bold button-main rounded text-decoration-none text-center"
            [routerLink]="[blogsLink]" style="width: 150px;">
            More News
        </a>
    </div>
</div>